<div class="position-relative">
  <itm-navbar></itm-navbar>
  <div class="container-fluid">
    <!--LOGO-->
    <div class="row mt-2 gap-5">
      <div class="col-12 text-center">
        <img
          src="../../../../assets/LOGOS/LOGO ITM 2020-02.png"
          alt="LOGO ITM"
          class="img-fluid"
          width="350em"
        />
      </div>
      <div class="col-12 text-center deportes">
        <mat-label color="primary" class="fs-1 fw-bold">DEPORTES</mat-label>
      </div>
    </div>
    <!--ACCIONES-->
    <div class="row mt-5" style="height: 150px">
      <div class="col-12 col-lg-4 text-center">
        <button mat-button color="primary" matTooltip="Administrador">
          <img
            src="../../../../assets/icons/setting.png"
            alt="admin"
            class="img-fluid"
          />
        </button>
      </div>
      <div class="col-12 col-lg-4 text-center">
        <button mat-button color="primary" matTooltip="Organizador">
          <img
            src="../../../../assets/icons/project.png"
            alt="admin"
            class="img-fluid"
          />
        </button>
      </div>
      <div class="col-12 col-lg-4 text-center">
        <button mat-button color="primary" matTooltip="Usuario">
          <img
            src="../../../../assets/icons/user.png"
            alt="admin"
            class="img-fluid"
          />
        </button>
      </div>
      <div class="row justify-content-end">
        <div class="col-12 col-lg-4">
          <itm-footer></itm-footer>
        </div>
      </div>
    </div>
  </div>
</div>
