<mat-toolbar color="primary">
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with menu icon"
    (click)="open()"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <span>EL PODIO ITM</span>
  <span class="example-spacer"></span>
  <a
    href="https://youtube.com"
    style="text-decoration: none; color: #ffff"
    target="_blank"
  >
    <button
      mat-icon-button
      class="example-icon"
      aria-label="Example icon-button with share icon"
    >
      <mat-icon>help_outline</mat-icon>
    </button>
  </a>
</mat-toolbar>
