<div class="row d-flex text-end mt-5">
  <div class="col-4">
    <div>
      <a href="https://twitter.com" matTooltip="twitter" target="_blank">
        <img
          src="../../../../assets/icons/twitter.png"
          alt="twitter"
          class="img-fluid"
        />
      </a>
    </div>
  </div>
  <div class="col-4">
    <div>
      <a href="https://facebook.com" matTooltip="facebook" target="_blank">
        <img
          src="../../../../assets/icons/facebook.png"
          alt="twitter"
          class="img-fluid"
        />
      </a>
    </div>
  </div>
  <div class="col-4">
    <div>
      <a href="https://instagram.com" matTooltip="intagram" target="_blank">
        <img
          src="../../../../assets/icons/instagram.png"
          alt="twitter"
          class="img-fluid"
        />
      </a>
    </div>
  </div>
</div>
